<div class="container">
  <div class="text">Player Form</div>
  <form #playerForm="ngForm" (ngSubmit)="onSubmit(playerForm.value)" enctype="multipart/form-data">
    <div class="form-row">
      <div class="input-data">
        <input type="text" name="FirstName" ngModel required>
        <div class="underline"></div>
        <label for="FirstName">First Name</label>
      </div>
      <div class="input-data">
        <input type="text" name="LastName" ngModel required>
        <div class="underline"></div>
        <label for="LastName">Last Name</label>
      </div>
    </div>

    <div class="form-row">
      <div class="input-data">
        <input type="date" name="DateOfBirth" ngModel required>
        <div class="underline"></div>
        <label for="DateOfBirth">Date of Birth</label>
      </div>
      <div class="input-data">
        <input type="text" name="Nationality" ngModel required>
        <div class="underline"></div>
        <label for="Nationality">Nationality</label>
      </div>
    </div>

    <div class="form-row">
      <div class="input-data">
        <input type="text" name="Position" ngModel required>
        <div class="underline"></div>
        <label for="Position">Position</label>
      </div>
      <div class="input-data">
        <input type="number" name="ShirtNumber" ngModel required>
        <div class="underline"></div>
        <label for="ShirtNumber">Shirt Number</label>
      </div>
    </div>

    <div class="form-row">
      <div class="input-data">
        <label for="LeagueId">League</label>
        <select style="width: 84%;margin-left: 15%;" name="LeagueId" [(ngModel)]="selectedLeague" (change)="Team()" required>
          <option value="">--Select League--</option>
          <option *ngFor="let league of responseobj.values" [value]="league.leagueID">{{ league.leagueName }}</option>
        </select>
        <div class="underline"></div>
      </div>
      <div class="input-data">
        <label for="CurrentTeamID">Current Team</label>
        <select style="width: 73%; margin-left: 27%;" name="CurrentTeamID" [(ngModel)]="selectedTeam" required>
          <option value="">--Select Team--</option>
          <option *ngFor="let team of teams" [value]="team.teamID">{{ team.teamName }}</option>
        </select>
      </div>
    </div>

    <label for="PlayerPhoto" class="drop-container">
      <span class="drop-title">Drop files here</span> or
      <input type="file" id="PlayerPhoto" name="PlayerPhoto" (change)="onFileSelected($event)" ngModel required>
    </label>

    <br />

    <div class="form-row submit-btn">
      <div class="input-data">
        <div class="inner"></div>
        <input type="submit" value="Submit">
      </div>
    </div>
  </form>
</div>
